.Progress__card {
  margin-bottom: 30px;
}

.Progress__item {
  margin-bottom: 20px;
}

.Progress_content {
  padding: 1rem;
}

.Progress__actions {
  text-align: right;
  padding: 0 1rem;
}

.Progress__subtitle {
  font-size: 1.2rem;
}

.ProgressBar {
  font-size: 1.4rem;
}

.ProgressBar__legend {
  display: flex;
  justify-content: space-between;
}

.ProgressBar--main {
  font-size: 3rem;
}
