.SearchBox {
  min-width: 100px;
  box-sizing: border-box;
  width: 100%;
  background-color: hsla(0,0%,100%,.3);
  display: flex;
  flex-direction: row;
  height: 45px;
  padding: 3px 16px;
  border-radius: 3px;
  margin: 0;
  align-items: center;
  transition: .3s;
  cursor: default;
}

.SearchBox__input {
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 16px;
  margin-left: 16px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  width: 100%;
  color: #fff;
}

.SearchBox--focused {
  background-color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.SearchBox--focused .SearchBox__input {
  color: rgba(0,0,0,.54);
}
