.PokemonList {
  height: 100%;
}

.PokemonList__paper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PokemonList__list {
  flex: 1 1 0;
  padding: 0 !important;
}

@media (min-width: 34em) {
  .PokemonList {
    height: calc(100% - 2rem);
  }
}

.FilterSearch {
  display: inline-block;
  position: relative;
  padding-left: 28px;
}

.FilterSearch_icon {
  position: absolute;
  left: 0;
  top: 12px;
}

.FilterSearch_cancel {
  position: absolute;
  top: -2px;
  right: 0;
}
