.Progress__card {
  margin-bottom: 30px;
}

.Progress__item {
  display: block;
  color: inherit;
  padding: 0.5rem 1rem 1rem;
}

.Progress__item:hover,
.Progress__item:focus {
  text-decoration: none;
  color: inherit;
  background: #eee;
}

.Progress_content {
}

.Progress__actions {
  text-align: right;
  padding: 0 1rem;
}

.Progress__subtitle {
  font-size: 1.2rem;
}

.ProgressBar {

}

.ProgressBar__legend {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.ProgressBar--main {
  font-size: 3rem;
  padding: 1rem;
}
