.PokedexPc {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PokedexPc__paper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.PokedexPc__view {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.PokedexPc__boxes {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

.PokedexPc__previousBox,
.PokedexPc__nextBox {
  display: none;
}

@media (min-width: 34em) {
  .PokedexPc {
    min-height: 600px;
  }
}

@media (min-width: 62em) {
  .PokedexPc__view {
  }

  .PokedexPc__boxes {
    left: 60px;
    right: 60px;
  }

  .PokedexPc__previousBox,
  .PokedexPc__nextBox {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .PokedexPc__previousBox {
    left: 5px;
}

  .PokedexPc__nextBox {
    right: 5px;
  }
}
