.PokemonPc {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PokemonPc__paper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PokemonPc__view {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.PokemonPc__boxes {
  overflow: auto;
}

.PokemonPc__previousBox,
.PokemonPc__nextBox {
  display: none;
}

@media (min-width: 34em) {
  .PokemonPc {
    height: auto;
    max-height: calc(100% - 2rem);
  }
}

@media (min-width: 62em) {
  .PokemonPc__view {
    position: relative;
    padding: 0 60px;
  }

  .PokemonPc__previousBox,
  .PokemonPc__nextBox {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 5px;
  }

  .PokemonPc__nextBox {
    left: inherit;
    right: 5px;
  }
}
