.PokemonPc {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PokemonPc__paper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.PokemonPc__view {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.PokemonPc__boxes {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

/* Targets react-slider elements */
.PokemonPc__boxes > div,
.PokemonPc__boxes > div > div,
.PokemonPc__boxes > div > div > div {
  height: 100%;
}

.PokemonPc__previousBox,
.PokemonPc__nextBox {
  display: none;
}

@media (min-width: 34em) {
  .PokemonPc {
    height: calc(100% - 2rem);
    min-height: 600px;
  }
}

@media (min-width: 62em) {
  .PokemonPc__view {
  }

  .PokemonPc__boxes {
    left: 60px;
    right: 60px;
  }

  .PokemonPc__previousBox,
  .PokemonPc__nextBox {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .PokemonPc__previousBox {
    left: 5px;
}

  .PokemonPc__nextBox {
    right: 5px;
  }
}
