@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html, body {
  font-family: Roboto;
  margin: 0;
}

.prof-sylve {

}

.prof-sylve__content {
  padding-top: 64px;
  box-sizing: border-box;
  height: 100vh;
}

.Splash {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
