@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html, body {
  font-family: Roboto;
  margin: 0;
}

.container {
  padding: 0;
}

.Drawer {
  padding-top: 64px;
}

.Content {
  padding-top: 64px;
  box-sizing: border-box;
  height: 100vh;
}

.Splash {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 48em) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
}

@media (min-width: 62em) {
  .Content {
    padding-left: 256px;
  }
}
