.PokemonPc {
  height: 100%;
}

.PokemonPc__paper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PokemonPc__boxing {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
}

.PokemonPc__boxes {
  overflow-y: auto;
  height: 100%;
}

.PokemonPc__boxes > div > div {
  display: flex;
}

.PokemonPc__previousBox,
.PokemonPc__nextBox {
  padding: 0 1rem;
  display: none;
}

@media (min-width: 34em) {
  .PokemonPc {
    height: calc(100% - 2rem);
  }
}

@media (min-width: 62em) {
  .PokemonPc__previousBox,
  .PokemonPc__nextBox {
    display: block;
    padding: 0 1rem;
  }

  .PokemonPc__boxing {
    justify-content: center;
    align-items: center;
  }
}
