.PokemonItem--tile {
  cursor: pointer;
  position: relative;
}

.PokemonItem--tile img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 33%;
  left: 50%;
  max-width: 100%;
  display: block;
}

.PokemonItem--tile .PokemonItem__id {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 9px;
  line-height: 18px;
  font-size: 14px;
  color: #fff;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .PokemonItem--tile .PokemonItem__id {
    bottom: 52px;
    font-size: 12px;
    border-radius: 8px;
    line-height: 16px;
  }
}
